
<welcomebar>
	<div class="row"><b>
			<div class="small-2 columns"><IMG SRC="/1x1-pixel.png"></div>
			<div class="small-2 columns"><a><%= link_to 'Film Reviews', controller: "posts" %></a></div>
			<div class="small-2 columns"><a><%= link_to 'My Photos', 'http://photoblues.tumblr.com' %></a></div>
			<div class="small-2 columns"><a><%= link_to 'About Me', '/welcome/about' %></a></div>
			<div class="small-2 columns"><a><%= link_to 'Login', '/welcome/login' %></a></div>
			<div class="small-2 columns"><IMG SRC="/1x1-pixel.png"></div>
	</b>
	</div>
	<br><br>
	
	<b><p>Welcome to Andy's Film Blog</p></b>
</welcomebar>
