	<%= render :partial => 'layouts/header' %>
	<style>
		body {
			background: #171717;
		}
		
		div#main {
			background: #171717;
			color: #747474;
		}
	</style>
	
	<div id="main">
	
	
	
<h1>Login...</h1 >
<b>A log in service will be available here, to authenticate the owner and give him further access to the website.</b>

<br><br><br><br><br><br><br><br><br><br><br><br>
</div>
<%= render :partial => 'layouts/footer' %>