	<%= render :partial => 'layouts/header' %>
	<style>
		body {
			background: #171717;
		}
		
		div#main {
			background: #171717;
			color: #747474;
		}
	</style>
	
	<div id="main">
	
	
<h1>Edit review</h1>
 
<%= render 'form' %>
</div>
<%= render :partial => 'layouts/footer' %>