$background-color:  #171717;
$hyperlink-active-color:#753333;
$hyperlink-active-color:#AC1C1D;
$hyperlink-hover-color: #915C5C;
$heading2-color: dark grey;
$heading1-color: black;


input[type="submit"] {
  	@include button;
	background-color: $hyperlink-active-color;
	border-color: $hyperlink-active-color;
	color: white;
}

input[type="submit"]:hover {
	background-color: black;
}

input[type="text"] {
	background-color: $hyperlink-hover-color;
	border-color: $hyperlink-active-color;
}

textarea {
	background-color: $hyperlink-hover-color;
	border-color: $hyperlink-active-color;
}

div#main {
  	@include grid-row;
  	background-color: white !important;
	a {color:$hyperlink-active-color;}
	a:hover {color: $hyperlink-hover-color;};
}

body {
	background: url('/scotland-lake-background.jpg') no-repeat center center fixed; 
	//background: url('<%= asset_path("scotland-lake-background.jpg") %> ') no-repeat center center fixed;
    //background: url(http://31.media.tumblr.com/3fe02331c035f2d375f203f9abad6ac4/tumblr_mtws1pbqIx1rw52z6o1_1280.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
	
	background-color: white !important;
	
	p {
		color: grey !important;
		//white-space: pre-line;
	}
	
	pBody{
		white-space: pre-line;
		font-family: "Avenir Next";
		font-size: 16pt;
		text-align: left;
		font-style: italic;
		color: black !important;
		line-height: 175%;
	}
	
	pComment{
		color: dim-grey;
		font-style: italic;
		line-height:125%;
	}
}

footer {
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	font-size: 14px;
	padding-top: 7px;
	margin-top: 25px;
	background-color: $background-color;
	text-align: center;
  
	p {
    	line-height: 20px;
		color: white !important;
  	}
  
	a {color:white;}
	a:hover {color: $hyperlink-active-color;};
}


welcomebar {
	position: fixed;
    width: 100%;
    font-size: 16px;
    padding-top: 25px;
//  background-color: #000;
//	opacity:0.6;
//  color: #eee;
 	text-align: center;
    
    p {
	 	padding-top: 1%;
		font-color: gray;
    	line-height: 40px;
		font-size: 24px;
		font-family: "Avenir Next";
    }
	
	a {color:$hyperlink-active-color;}
	a:hover {color: $hyperlink-hover-color;};
	
}

sidebarIndex {
	position: fixed;
//  background: lightgray;
	font-color: #ACACAC;
	
	width: 25%;
    padding: 14px;
    margin-top: 15%;
	
	border-style: solid;
	border-color: #747474;
	border-width: 1px;
	
	a {color:$hyperlink-active-color;}
	a:hover {color: $hyperlink-hover-color;};
}

sidebarShow {
	position: fixed;
//  background: lightgray;
	
	width: 25%;
    padding: 0;
    margin-top: 5%;
	
	border-style: solid;
	border-color: #747474;
	border-width: 1px;
	
	a {color:$hyperlink-active-color;}
	a:hover {color: $hyperlink-hover-color;};
	
	p{
	font-family: "Avenir Next";
	color: black !important;
	}

}

h1 {
	font-size: 42px;
	color: $heading1-color;
	text-align: center;
	font-family: "Avenir Next";
}

h2 {
	font-size: 30px;
	color: $heading2-color;
	font-family: "Avenir Next";
}






.top-bar {
	
	background-color: $background-color;
}

.top-bar .name h1 a {
	color:  $hyperlink-active-color;
	font-size: 30px;
	font-family: "Avenir Next";
}

.top-bar-section li a:not(.button) {
	color: $hyperlink-active-color;
    background: $background-color;
}

.top-bar-section li a:not(.button):hover {
    background: scale-color($background-color, $lightness: +6%);
}

.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
   border-left: solid 1px #2E2E2E;
   border-right: solid 1px #2E2E2E;
}